pywin32
customtkinter
numpy
ultralytics
opencv-python
mss

# pip uninstall torch for delete cuda for cpu
# torch torchvision --index-url https://download.pytorch.org/whl/cu118
# pip install -r requirements.txt